
#menu-dropdown {
    width: 200px;
    height: 8000px;
    .element {
        height: 20px;
        border: 1px solid;
    }
}

.menu-container {
    border: 1px solid;
    height: 200px;
    width: 200px;
    overflow: auto;
}